<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Abonnements</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    
   <h1>Liste des Abonnements</h1>
   
<div class="abonnement-container">
<% abonnements.forEach(abonnement => { %>
  <div class="abonnement-card">
    <h2 class="abonnement-title"><%= abonnement.nom %></h2>

    <% if (abonnement.imageUrl) { %>
      <img src="<%= abonnement.imageUrl %>" alt="Image de l'abonnement" style="max-width: 200px; height: auto;">
    <% } %>

    <p class="abonnement-price"><%= abonnement.prix %> €</p>
    <p class="abonnement-duration">Durée: <%= abonnement.durée %> mois</p>
    <p class="abonnement-description"><%= abonnement.description %></p> 
    
    <form method="POST" action="/dashboard/modifier-abonnement/<%= abonnement._id %>?_method=PUT" enctype="multipart/form-data">
      <button type="submit" class="btn">Modifier</button>
    </form>
  
    <form method="POST" action="/dashboard/supprimer-abonnement/<%= abonnement._id %>?_method=DELETE">
        <button type="submit">Supprimer</button>
    </form>
  </div>
  
<% }); %>
    </div>
</body>
</html>
