<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Abonnements</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    
   <h1>Liste des Abonnements</h1>

    <% abonnements.forEach(abonnement => { %>
  <div class="abonnement-card">
    <h2 class="abonnement-title"><%= abonnement.name %></h2>
    <p class="abonnement-price"><%= abonnement.price %> €</p>
    <p class="abonnement-duration">Durée: <%= abonnement.duration %> jours</p>
    <p class="abonnement-description"><%= abonnement.description %></p> 
    
    <form action="/dashboard/modifier-abonnement/<%= abonnement._id %>" method="get">
      <button type="submit" class="btn">Modifier</button>
    </form>
  
    <form action="/dashboard/supprimer-abonnement/<%= abonnement._id %>" method="post">
      <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
  </div>
  
<% }); %>
    </div>
    </div>
</body>
</html>
