<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Produits</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <h1>Liste des Produits</h1>
    <div class="product-container">
        <% products.forEach(product => { %>
            <div class="product-card">
                <img src="<%= product.imageUrl %>" alt="<%= product.name %>" class="product-image">
                <h2><%= product.name %></h2>
                <p>Prix : <%= product.price %> €</p>
                <a href="/dashboard/modifier-produit/<%= product._id %>" class="button">Modifier</a>
                <form action="/dashboard/supprimer-produit/<%= product._id %>" method="post">
                    <button class="button" type="submit">Supprimer</button>
                </form>
            </div>
        <% }); %>
    </div>
</body>
</html>
