<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier le produit</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="product-card">
        <h1>Modifier le produit</h1>
<form method="POST" action="/dashboard/modifier-produit/<%= product._id %>">
<input type="hidden" name="_method" value="PUT">            
<label for="name">Nom du produit</label>
            <input type="text" id="name" name="name" value="<%= product.name %>" required>
            
            <label for="description">Description du produit</label>
            <textarea id="description" name="description" required><%= product.description %></textarea>
            
            <label for="price">Prix du produit</label>
            <input type="number" id="price" name="price" value="<%= product.price %>" required>
            
            <label for="imageUrl">URL de l'image</label>
            <input type="text" id="imageUrl" name="imageUrl" value="<%= product.imageUrl %>" required>
            
            <button type="submit">Mettre à jour</button>
        </form>
    </div>
</body>
</html>
