<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
<%- include('partials/header') %>
<div class="nails-intro-section">
    <h1>Découvrez les différents coffrets NailsBox</h1>
    <p>Choisissez le coffret qui vous donne envie !</p>
</div>
<section class="nails-cards-section" aria-label="Produits">
<% subscriptions.forEach(subscription => { %>
  <div class="nails-card">
    <div class="nails-card-title"><%= subscription.nom %></div>
    <% if(subscription.imageUrl) { %>
      <img src="<%= subscription.imageUrl %>" alt="<%= subscription.nom %>" class="nails-card-image">
    <% } else { %>
      <img src="../images/default-image.jpg" alt="Default Image" class="nails-card-image">
    <% } %>
    <div class="nails-card-price"><%= subscription.prix.toFixed(2) %> €</div>
    <ul class="nails-card-list">
      <li><%= subscription.description %></li>
      <li>Durée: <%= subscription.duree %> mois</li>
    </ul>
    <button class="add-subscription-to-cart-button" data-subscription-id="<%= subscription._id %>">Choisir</button>

  </div>
<% }); %>
</section>
<article>
    <h2>Nos articles du moment</h2>
<div class="card-container">
    <% products.forEach(product => { %>
        <article class="card">
            <h4><%= product.name %></h4>
            <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
            <p>Prix : $<%= product.price %></p>
            <% if (product.features && product.features.length > 0) { %>
                <ul>
                    <% product.features.forEach(feature => { %>
                        <li><%= feature %></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Aucune caractéristique disponible pour ce produit.</p>
            <% } %>
            <input type="number" class="product-quantity" value="1" min="1">
                <button class="add-to-cart-button" data-product-id="<%= product._id %>">Ajouter au panier</button>

        </article>
    <% }); %>
</div>
</article>
<section class="parallax-section2">
    <div class="parallax-content2">
        <h2>Titre de la Section</h2>
        <p>Texte de la section parallax avec décalage vers la gauche.</p>
        <a href="/abonnement" class="button-link">S'abonner</a>
    </div>
</section>
<%- include('partials/footer') %>

<script src="/js/abonnement.js" defer></script>
</body>
</html>
