<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<%- include('partials/header') %>
<main>
<div class="nails-intro-section">
    <h1>Découvrez les différents coffrets NailsBox</h1>
    <p>Choisissez le coffret qui vous donne envie !</p>
</div>
<section class="nails-cards-section"aria-label="Produits">
    <div class="nails-card">
        <div class="nails-card-title">Small size</div>
        <img src="../images/img4.jpg" alt="Small size nails" class="nails-card-image">
        <div class="nails-card-price">19,90 €</div>
        <ul class="nails-card-list">
            <li>Un coffret press on nails.</li>
            <li>Des accessoires pour la pose.</li>
            <li>Des surprises dans chaque coffret</li>
        </ul>
        <a href=/panier class="nails-card-button">CHOISIR</a>
    </div>
    <div class="nails-card">
        <div class="nails-card-title">Medium size</div>
        <img src="../images/img2.jpg" alt="Medium size nails" class="nails-card-image">
        <div class="nails-card-price">29,90 €</div>
        <ul class="nails-card-list">
            <li>Deux coffrets press on nails.</li>
            <li>Des accessoires pour la pose.</li>
            <li>Des surprises dans chaque coffret</li>
        </ul>
        <a href=/panier class="nails-card-button">CHOISIR</a>
    </div>
    <div class="nails-card">
        <div class="nails-card-title">Large size</div>
        <img src="../images/img3.jpg" alt="Large size nails" class="nails-card-image">
        <div class="nails-card-price">49,90 €</div>
        <ul class="nails-card-list">
            <li>Un coffret Nails art DIY.</li>
            <li>Des accessoires pour le DIY.</li>
            <li>Des surprises dans chaque coffret</li>
        </ul>
        <a href=/panier class="nails-card-button">CHOISIR</a>
    </div>
</section>
<article>
    <h2>Nos articles du moment</h2>
<div class="card-container">
    <% products.forEach(product => { %>
        <article class="card">
            <h4><%= product.name %></h4>
            <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
            <p>Prix : $<%= product.price %></p>
            <% if (product.features && product.features.length > 0) { %>
                <ul>
                    <% product.features.forEach(feature => { %>
                        <li><%= feature %></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Aucune caractéristique disponible pour ce produit.</p>
            <% } %>
<form action="/acheter/<%= product._id %>" method="post">
   <input type="hidden" name="productId" value="<%= product._id %>">
   <button id="ajouter-au-panier" data-product-id="<%= product._id %>">Ajouter au panier</button>
</form>
        </article>
    <% }); %>
</div>
</article>
<section class="parallax-section2">
    <div class="parallax-content2">
        <h2>Titre de la Section</h2>
        <p>Texte de la section parallax avec décalage vers la gauche.</p>
        <a href="/abonnement"class="button-link">S'abonner</a>
    </div>
</section>
</main>
<%- include('partials/footer') %>

<script src="./js/abonnement.js" defer></script>
</body>
</html>
